{% extends 'base.html' %}

{% load static %}

{% block main %}
		

<div id="example" width: 50%>
    <div class="demo-section k-content">
        <div id="validation-success"></div>

        <form id="exampleform"></form>
    </div>

    <script>

        $(document).ready(function () {
            var validationSuccess = $("#validation-success");

            $("#exampleform").kendoForm({
                orientation: "vertical",
                formData: {
                    Username: "johny",
                },
                items: [{
                    type: "group",
                    label: "Dodaj drzavu",
                    items: [
                        { field: "country_name", label: "Naziv drzave:", validation: { required: true } },
                    ]
                }],
                validateField: function(e) {
                    validationSuccess.html("");
                },
                submit: function(e) {
                    e.preventDefault();
                    validationSuccess.html("<div class='k-messagebox k-messagebox-success'>Form data is valid!</div>");
                },
                clear: function(ev) {
                    validationSuccess.html("");
                }
            });
        });
    </script>
</div>

{% endblock main %}