{% extends 'base.html' %}

{% load static %}

{% block modals %}

{% endblock %}

{% block main %}
	

<div align="center">
  <a href="{% url 'add_countryentity' %}" title="Dodaj drzavu" class="btn btn-info">Dodaj entitet</a>
</div>

<table id="table" class="display" style="width:100%">
        <thead>
        <tr>
          <th>Naziv entiteta
          </th>
          <th></th>
          <th></th>
        </tr>
      </thead>
        <tbody>
      {% for entity in entities %}
        <tr>
          <td><a href="{% url 'detail_countryentity' pk=entity.id %}">{{ entity.entity_name }}</a></td>
          <td></td>
          <td><a href="{% url 'edit_countryentity' pk=entity.id %}" class="btn btn-warning">&#x270D; Uredi</a></td>
          <td><a href="{% url 'delete_countryentity' pk=entity.id %}" class="btn btn-danger"> Brisi</a></td>
        </tr>


      {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Naziv</th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>
     
    </table>


{% endblock main %}