{% extends 'base.html' %}

{% load static %}

{% block modals %}

{% endblock %}

{% block main %}
	

<div class="d-grid gap-1 col-6 mx-auto">
  <a href="{% url 'add_municipality' %}" class="btn btn-primary fw-bold">Dodaj opstinu</a>
</div>
<div class="table-responsive mt-2">
<table id="table" class="table table-primary table-striped table-hover">
        <thead>
        <tr>
          <th class="text-center align-middle">Naziv opstine</th>
          <th class="text-center align-middle">Sifra opstine</th>
          <th class="text-center align-middle">Drzava</th>
          <th class="text-center align-middle"></th>
          <th class="text-center align-middle"></th>
          <th></th>
        </tr>
      </thead>
        <tbody>
      {% for municipality in municipalities %}
        <tr>
          <td><a href="{% url 'detail_municipality' pk=municipality.id %}">{{ municipality.municipality_name }}</a></td>
          <td>{{ municipality.municipality_code }}</td>
          <td>{{ municipality.country }}</td>
          <td>{{ municipality.canton }}</td>
          <td><a href="{% url 'edit_municipality' pk=municipality.id %}" class="btn btn-warning">&#x270D; Uredi</a></td>
          <td><a href="{% url 'delete_municipality' pk=municipality.id %}" class="btn btn-danger"> Brisi</a></td>
        </tr>


      {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>
     
    </table>
</div>

{% endblock main %}