{% extends 'base.html' %}

{% load static %}

{% block modals %}

{% endblock %}

{% block main %}
	

<div class="d-grid gap-1 col-6 mx-auto">
  <a href="{% url 'add_countryentity' %}" class="btn btn-primary fw-bold">Dodaj entitet</a>
</div>
<div class="table-responsive mt-2">
<table id="table" class="table table-primary table-striped table-hover">
        <thead>
        <tr>
          <th class="text-center align-middle">Naziv entiteta</th>
          <th class="text-center align-middle"></th>
          <th class="text-center align-middle"></th>
        </tr>
      </thead>
        <tbody>
      {% for entity in entities %}
        <tr>
          <td><a href="{% url 'detail_countryentity' pk=entity.id %}">{{ entity.entity_name }}</a></td>
          <td><a href="{% url 'edit_countryentity' pk=entity.id %}" class="btn btn-warning">&#x270D; Uredi</a></td>
          <td><a href="{% url 'delete_countryentity' pk=entity.id %}" class="btn btn-danger"> Brisi</a></td>
        </tr>


      {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>
     
    </table>
</div>

{% endblock main %}